<div class="headerProject">
    <div class="projectName">{{project?.Name}}
    &nbsp;    <a class="deleteIcon" (click)="deleteProject()">
            <i  class="fas fa-trash"></i>
        </a>
    </div>
    <br><br>
    <a class="routerLink" [routerLink]="['/projectDescription/',id,'Details']" routerLinkActive="router-link-active" >Details</a>
    <a class="routerLink" [routerLink]="['/projectDescription/',id,'Proposals']" routerLinkActive="router-link-active" >Proposals</a>
</div>
<div class="rootOfPage">
<router-outlet></router-outlet>
</div>