<div class="rootOfPage">
  <div class="container">
    <h1>{{error}}</h1>
    <a *ngIf="error" [routerLink]="['/post-project']" class="btn btn-primary">Post Project</a>
    <div
      (click)="cardClick(project._id)"
      *ngFor="let project of projectList"
      class="card shadow p-3 mb-5 bg-white rounded"
      style="width: 18rem"
    >
      <div class="card-body">
        <div style="display: inline">
          <span class="card-title">{{ project.Name }}</span>
          <span class="budget"
            ><i class="fas fa-rupee-sign"></i> {{ project.MinBudget }} -
            {{ project.MaxBudget }} INR</span
          >
        </div>
        <h4 class="card-subtitle mb-2 text-muted">
          {{ project.ProjectPostTime | date: "MMM d, y, h:mm:ss a" }}
        </h4>
        <p class="desc">{{ project.Description }}</p>
        <h4 class="card-subtitle"><span class="cat-box">{{ project.Category }}</span></h4>
        <div class="bottomOfCard">
          <button class="btn btn-success"><b>{{project.Status}}</b></button
            >&nbsp;&nbsp;
          <span
            ><i class="fas fa-gavel"></i>&nbsp;{{
              project.NumberOfBids
            }}
            Bid&nbsp; &nbsp;</span
          >
          <span> {{ project.Duration }} Days Duration</span>
        </div>
      </div>
    </div>
  </div>
</div>
