<h1>Change Password</h1>
<div class="alert alert-danger" *ngIf="errorMessage" role="alert">
    {{errorMessage}}
  </div>
<form [formGroup]="PasswordChangeForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" formControlName="passwordControl">
        <div class="text-danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors?.required">
                Password is required.
            </div>
            <div *ngIf="password?.errors?.pattern">
                password must be 8 characters including one uppercase letter, one special character and alphanumeric
                characters.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>

</form>