<h1 *ngIf="error">{{error}}</h1>
<div *ngIf="!error">
  <div class="refresh-btn">
    <button (click)=getAllBids() class="btn btn-primary"><i class="fas fa-redo-alt"></i>&nbsp; &nbsp;View New Bids</button>
  </div>
<div class="card shadow-lg p-3 mb-5 bg-white rounded" *ngFor="let bid of bids">
    <div class="card-body">
      <div class="userDetails">
        <div class="userImg">
          <img class="bidUserImg" [src]="'../../../assets/uploads/'+bid.BidUser.profileImg">
        </div>
        <div (click)="userProfileClick(bid.BidUser._id)" class="user">
          <span class="userName">&nbsp;&nbsp;{{bid.BidUser.FirstName}} {{bid.BidUser.LastName}}
          </span>
            <span class="userEmail">&nbsp;{{bid.BidUser.Email}}</span>
        </div>
        
        <div class="bidDetail">
          <span class="bidAmount">₹{{bid.BidAmount}} INR</span>
          <span class="deliverDays">in {{bid.DeliveredDays}} days</span>
        </div>
        
        <div class="hire-btn">
          <button *ngIf="!hiredProject" class="btn btn-success"(click)="hireFreelacer(bid.BidUser._id,bid._id)">Hire Freelancer</button>
          <span *ngIf="hiredProject" class="btn btn-success">{{bid.Status}}</span>
        </div>

    </div>
      <p class="card-text">{{bid.Proposal}}</p>
    </div>
  </div>
</div>
