<h1 *ngIf="error">{{error}}</h1>
<div *ngIf="!error">
<div class="card" *ngFor="let bid of bids">
    <div class="card-body">
      <div class="userDetails">
        <div class="userImg">
          <img class="bidUserImg" [src]="'../../../assets/uploads/'+bid.BidUser.profileImg">
        </div>
        <div class="user">
          <span class="userName">&nbsp;&nbsp;{{bid.BidUser.FirstName}} {{bid.BidUser.LastName}}
          </span>
            <span class="userEmail">&nbsp;{{bid.BidUser.Email}}</span>
        </div>
        
        <div class="bidDetail">
          <span class="bidAmount">₹{{bid.BidAmount}} INR</span>
          <span class="deliverDays">in {{bid.DeliveredDays}} days</span>
        </div>
        
        <div class="hire-btn">
          <button class="btn btn-success"(click)="hireFreelacer(bid.BidUser._id)">Hire Freelancer</button>
        </div>

    </div>
      <p class="card-text">{{bid.Proposal}}</p>
    </div>
  </div>
</div>
