<div class="container">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="card-title">Register User</div>
      <div class="card-text">
        <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="emailControl"
                placeholder="Ex. test@example.com"
              />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error
                *ngIf="
                  email?.hasError('pattern') && !email?.hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="email?.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <button type="submit" class="btn btn-block">
            Continue With Email
          </button>
        </form>
        <br>
        <a [routerLink]="['/login']" class="link"
          >Already have an Account? Sign In</a
        >
      </div>
    </div>
  </div>
</div>
