<div class="roofOfPage">
  <div class="container">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="card-title">Tell us what you need done</div>
        <div class="card-text">
          <form [formGroup]="PostProjectForm" enctype="multipart/form-data">
            <div>
              <label class="form-label"
                ><b>Choose a name for your project</b></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="projectNameControl"
              />
              <div
                *ngIf="
                  projectName?.invalid &&
                  (projectName?.dirty || projectName?.touched)
                "
              >
                <div class="text-danger" *ngIf="projectName?.errors?.required">
                  Project Name is required.
                </div>
                <div class="text-danger" *ngIf="projectName?.errors?.minlength">
                  Please enter at least 10 characters. 
                </div>
              </div>
            </div>
            <div>
              <label class="form-label"
                ><b>Tell us more about your project</b></label
              >
              <textarea
                class="form-control"
                formControlName="descriptionControl"
              ></textarea>
              <div
                *ngIf="
                  description?.invalid &&
                  (description?.dirty || description?.touched)
                "
              >
                <div class="text-danger" *ngIf="description?.errors?.required">
                  Description is required.
                </div>
                <div class="text-danger" *ngIf="description?.errors?.minlength">
                  Please enter at least 30 characters. 
                </div>
              </div>
            </div>
            <div>
              <input
                type="file"
                class="file-input"
                formControlName="fileControl"
                (change)="onFileSelected($event)"
                #fileUpload
              />

              <div class="file-upload">
                {{ fileName || "No file uploaded yet." }}

                <button
                  mat-mini-fab
                  color="primary"
                  class=""
                  (click)="fileUpload.click()"
                >
                  <mat-icon>attach_file</mat-icon>
                </button>
              </div>
              <div>
                <mat-progress-bar
                  class="uploadProgress"
                  mode="determinate"
                  [value]="uploadProgress"
                  *ngIf="uploadProgress"
                >
                </mat-progress-bar>

                <mat-icon
                  class="cancel-upload"
                  (click)="cancelUpload()"
                  *ngIf="uploadProgress"
                  >close</mat-icon
                >
              </div>
            </div>
            <button (click)="onPanel1()" *ngIf="!panel1" class="btn btn-block">
              Next
            </button>
            <div *ngIf="panel1">
              <div class="category">
                <label class="form-label"><b>Category</b></label>
                <select class="form-select" formControlName="categoryControl">
                  <option value="">Select Category</option>
                  <option value="Development & It">Development & It</option>
                  <option value="Design & Creative">Design & Creative</option>
                  <option value="Sales & Marketing">Sales & Marketing</option>
                  <option value="Writing & Translation">
                    Writing & Translation
                  </option>
                  <option value="Admin & Customer Support">
                    Admin & Customer Support
                  </option>
                  <option value="Finance & Accounting">
                    Finance & Accounting
                  </option>
                  <option value="Music & Audio">Music & Audio</option>
                  <option value="Programming & Tech">Programming & Tech</option>
                </select>
                <div
                  *ngIf="
                    category?.invalid && (category?.dirty || category?.touched)
                  "
                >
                  <div class="text-danger" *ngIf="category?.errors?.required">
                    Please enter a Category.
                  </div>
                </div>
              </div>
              <button
                (click)="onPanel2()"
                *ngIf="!panel2"
                class="btn btn-primary"
              >
                Next
              </button>
              <div *ngIf="panel2">
                <div class="budget">
                  <label class="form-label"
                    ><b>Minimum enter a budget</b></label
                  >
                  <input
                    type="number"
                    class="form-control"
                    formControlName="MinBudgetControl"
                  />
                  <div
                    *ngIf="
                      minBudget?.invalid &&
                      (minBudget?.dirty || minBudget?.touched)
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="minBudget?.errors?.required"
                    >
                      Please enter a budget.
                    </div>
                    <div class="text-danger" *ngIf="minBudget?.errors?.min">
                      Minimum budget is 600.
                    </div>
                  </div>
                  <label class="form-label"
                    ><b>Maximum enter a budget</b></label
                  >
                  <input
                    type="number"
                    class="form-control"
                    formControlName="MaxBudgetControl"
                  />
                  <div
                    *ngIf="
                      !maxBudget?.invalid &&
                      (maxBudget?.dirty || maxBudget?.touched)
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="PostProjectForm.hasError('budgetError')"
                    >
                      Maximum budget should be greater than or equal to
                      {{ minBudget?.value + 1 }}
                    </div>
                  </div>
                  <div
                    *ngIf="
                      maxBudget?.invalid &&
                      (maxBudget?.dirty || maxBudget?.touched)
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="maxBudget?.errors?.required"
                    >
                      Please enter a budget.
                    </div>
                  </div>
                </div>
                <div>
                  <label class="form-label"><b>Duration Days</b></label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="DurationControl"
                  />
                  <div
                    *ngIf="
                      duration?.invalid &&
                      (duration?.dirty || duration?.touched)
                    "
                  >
                    <div class="text-danger" *ngIf="duration?.errors?.required">
                      Please enter a duration.
                    </div>
                  </div>
                </div>
                <button (click)="onSubmit()" class="btn btn-block">
                  Post Project
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
