
<div class="card">
    <div class="card-body">
        <div class="projectDetails">
      <span class="card-title">Project Details</span>
      <span class="projectBudget"><i class="fas fa-rupee-sign"></i>&nbsp;{{project?.MinBudget}} – {{project?.MaxBudget}} INR</span>
    </div>
    <hr>
      <p class="card-text">{{project?.Description}}</p>
      <div class="projectDetails">
      <span class="projectCategoryLabel">Project Category</span>
      <span class="projectDuration">{{project?.Duration}} Days duration</span>
    </div>
      <div class="projectCategory">{{project?.Category}}</div>

    </div>
  </div>

