<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <div class="projectDetails">
      <span class="card-title">Project Details</span>
      <span class="projectBudget"><i class="fas fa-rupee-sign"></i>&nbsp;{{project?.MinBudget}} – {{project?.MaxBudget}}
        INR</span>
    </div>
    <hr>
    <p class="card-text">{{project?.Description}}</p>
    <div class="projectDetails">
      <span class="projectCategoryLabel">Project Category</span>
      <span class="projectDuration">{{project?.Duration}} Days duration</span>
    </div>
      <div class="projectCategory">{{project?.Category}}</div>
    <span *ngIf="fileName" class="projectCategoryLabel">Attached Document</span><br>
    <a (click)=download() class="link-primary fileLink">{{fileName}}</a>
    <span *ngIf="workFile" class="projectCategoryLabel">Submitted Work</span><br>
    <a (click)=downloadWorkFile() class="link-primary fileLink">{{workFile}}</a>
  </div>
</div>