.roofOfPage{
    background: rgb(241, 241, 241);
    padding: 5%;
  }
  
  .card {
    width: 90%;
    margin: auto;
    padding: 2%;
    border: groove 2px green;
  }
  
  .card-title{
    text-align: center;
    font-size: 1.4rem;
  }
  
  textarea{
      resize: none;
  }
  
  .imgBox {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      /* margin-top: 20px; */
    }
    
    .profileImg {
      opacity: 1;
      display: block;
      width: 175px;
      height: 160px;
      transition: .5s ease;
      border-radius: 50%;
      backface-visibility: hidden;
    }
    
    