/* google fonts 
font-family: 'Andada Pro', serif;
font-family: 'Hahmlet', serif;
font-family: 'Sora', sans-serif;
*/

.card {
    text-align: center;
    margin: auto;
    border: groove 2px green;
    padding: 20px 20px;
}

.card-title{
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 15px 0px;
    color: green;
}

.alert-danger{
    width: 380px;
    margin: 10px auto;
}

.mat-form-field{
    width: 380px !important;
    height: 80px;
}

.btn{
    width: 380px;
    background: green;
    color: white;
}

.link{
    margin-top: 10px;
    color: blue;
}

.link:hover {
    color: darkblue;
}
