<div id="home">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/christopher-gower-m_HRfLhgABo-unsplash.jpg" class="d-block w-100 custom-img"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/kelly-sikkema-o2TRWThve_I-unsplash.jpg" class="d-block w-100 custom-img"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/tim-arterbury-VkwRmha1_tI-unsplash.jpg" class="d-block w-100 custom-img"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/firmbee-com-jrh5lAq-mIs-unsplash.jpg" class="d-block w-100 custom-img"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/lilartsy-333oj7zFsdg-unsplash.jpg" class="d-block w-100 custom-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/executium-5hcV51EeeWc-unsplash.jpg" class="d-block w-100 custom-img" alt="...">
      </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>


  </div>

<!-- How it work -->
<div id="how-it-work">
  <div class="container">

    <h1 class="title">For Buyer</h1>
    <div class="row">

      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Step 1 <br>
              Post a Project
            </div>
            <div class="card-text">
              In this Step 1, Buyer Just Need to Post a Project to hire some freelancer with all necessary details like
              budget, category, duration of the project.
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Step 2 <br>
              Hire Freelancer
            </div>
            <div class="card-text">
              In this Step 2, Buyer Can hire freelancer after seeing all the bids by different Freelancers. They both
              can interact with eachother regarding their work requirements and all.
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Step 3 <br>
              Project Completion
            </div>
            <div class="card-text">
              In this Step 3, Freelancer will deliver the final project to buyer and if buyer satisfied with the work,
              then buyer can complete the work.
            </div>
          </div>
        </div>
      </div>

    </div>

    <h1 class="title second">For Freelancers</h1>
    <div class="row ">

      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Step 1 <br>
              Choose a Project
            </div>
            <div class="card-text">
              In this Step 1, Freelancer will have to choose the project, which he / she wants to do, and can complete
              it within specified timeline.
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Step 2 <br>
              Take the Project
            </div>
            <div class="card-text">
              In this Step 2, Freelancer will have to interact with buyer and decide all the requirements and if
              everything is perfect then buyer will give project to buyer.
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card ">
          <div class="card-body">
            <div class="card-title">
              Step 3 <br>
              Deliver Project
            </div>
            <div class="card-text">
              In this Step 3, Freelancer have to deliver the work to buyer as per the working details.
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>

</div>