#how-it-work {
    padding: 2% 2%;
}

#how-it-work .title{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(156, 91, 16);
    text-align: center;
    margin-bottom: 20px;
}

#how-it-work .card{
    border: groove 2px green;
    background: rgb(211, 243, 148);
}

#how-it-work .card-title{
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: green;
}

#how-it-work .card-text{
    font-family: 'Hahmlet', serif;
    font-weight: 400;
    text-align: center;
    color: black;
}

#how-it-work .second{
    margin-top: 20px;
}

.card {
    height : 100% !important;
}

#home {
    background-color: #f1f1f1 !important;
}
