<div class="roofOfPage">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="imgBox">
      <img [src]="imageUrl" class="card-img-top profileImg" />
      <div class="uploadBtn">
        <form [formGroup]="profileForm">
          <input
            type="file"
            formControlName="uploadFile"
            (change)="onFileSelected($event)"
            style="display: none"
            #fileUpload
          />
          <a (click)="fileUpload.click()"> <i class="fa fa-camera fa-3x"></i></a>
        </form>
      </div>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ username }}</h2>
      <div class="card-text">
        <div style="display: inline; font-weight: bold">Member Since:</div>
        <div style="font-weight: bold; float: right; display: inline">
          {{ registerUserDate }}
        </div>
        <br />
        <hr />
        <br />
        <div style="display: inline;">
          <span style="font-weight: bold">Description</span>
          <span style="float: right"
            ><a
              style="cursor: pointer"
              class="link-primary"
              (click)="showDescriptionBox()"
              >Edit description</a
            ></span
          >
        </div>
        <div style="margin-top: 5px;">
          {{ description }}
          <span *ngIf="!description">Add About Yourself</span>
          <form *ngIf="showDesc" [formGroup]="descriptionForm">
            <textarea
              style="width: 100%; height: 100px"
              placeholder="Please tell us about any hobbies, additional expertise, or anything else you’d like to add."
              formControlName="descriptionControl"
              class="form-control"
            ></textarea>
            <br />
            <button (click)="cancelDesc()" class="btn btn-light">
              Cancel
            </button>
            <button
              style="float: right"
              (click)="submitDescription()"
              class="btn btn-success"
            >
              Update
            </button>
          </form>
        </div>
        <section *ngIf="userRole=='freelancer'">
        <br />
        <hr />
        <br />
        <div style="display: inline">
          <span style="font-weight: bold">Category</span>
          <span style="float: right"
            ><a
              style="cursor: pointer"
              class="link-primary"
              (click)="showCategory()"
              >Add new</a
            >
          </span>
        </div>
        <div style="margin-top: 5px;">
          <span *ngIf="category !='none'">{{ category }}</span>
          <span *ngIf="category == 'none'">Add your Category</span>
          <form *ngIf="showCat" [formGroup]="categoryForm">
            <select class="form-select" formControlName="categoryControl">
              <option value="">None</option>
              <option value="Development & It">Development & It</option>
              <option value="Design & Creative">Design & Creative</option>
              <option value="Sales & Marketing">Sales & Marketing</option>
              <option value="Writing & Translation">Writing & Translation</option>
              <option value="Admin & Customer Support">
                Admin & Customer Support
              </option>
              <option value="Finance & Accounting">Finance & Accounting</option>
              <option value="Music & Audio">Music & Audio</option>
              <option value="Programming & Tech">
                Programming & Tech
              </option></select
            ><br />
            <button (click)="cancelCat()" class="btn btn-light">
              Cancel
            </button>
            <button
              style="float: right"
              (click)="submitCat()"
              class="btn btn-success"
            >
              Update
            </button>
          </form>
        </div>
        <br />
        <hr />
        <br />
        <div style="display: inline">
          <span style="font-weight: bold">Education</span>
          <span style="float: right"
            ><a
              style="cursor: pointer"
              class="link-primary"
              (click)="showEduBox()"
              >Add new</a
            >
          </span>
        </div>
        <div style="margin-top: 5px;">
          <span *ngIf="!userCollege && !userDegree">Add your Education</span>
          <span *ngIf="userDegree">{{ userDegree }} - {{ userBranch }}</span
          ><br />
          <span *ngIf="userCollege" style="font-weight: lighter"
            >{{ userCollege }}, {{ userCollegeCountry }}, Graduated
            {{ userYearOfGraduation }}
          </span>
          <form *ngIf="showEdu" [formGroup]="educationForm">
            <select formControlName="collegeCountryControl" class="country form-select">
              <option value="" >
                Country of College/University
              </option>
              <option  value="India">
                India
              </option>
            </select>
            <br />
            <input
              type="text"
              placeholder="College/University Name"
              formControlName="collegeControl"
              class="form-control"
            />
            <br />
            <select class="form-select" formControlName="degreeControl">
              <option value="">Degree</option>
              <option value="associate">Associate</option>
              <option value="certificate">Certificate</option>
              <option value="ba">B.A.</option>
              <option value="barch">BArch</option>
              <option value="bm">BM</option>
              <option value="bfa">BFA</option>
              <option value="bsc">B.Sc.</option>
              <option value="ma">M.A.</option>
              <option value="mba">M.B.A.</option>
              <option value="mfa">MFA</option>
              <option value="msc">M.Sc.</option>
              <option value="jd">J.D.</option>
              <option value="md">M.D.</option>
              <option value="phd">Ph.D</option>
              <option value="llb">LLB</option>
              <option value="llm">LLM</option>
              <option value="B.Tech.">B.Tech.</option>
              <option value="other">Other</option>
            </select>
            <br>
            <input
              type="text"
              placeholder="Branch"
              formControlName="branchControl"
              class="form-control"
            />
            <br>
            <select class="form-select" formControlName="yearControl">
              <option value="">Year of graduation</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
              <option value="2009">2009</option>
              <option value="2008">2008</option>
              <option value="2007">2007</option>
              <option value="2006">2006</option>
              <option value="2005">2005</option>
              <option value="2004">2004</option>
              <option value="2003">2003</option>
              <option value="2002">2002</option>
              <option value="2001">2001</option></select
            ><br />
            <button (click)="cancelEdu()" class="btn btn-light">
              Cancel
            </button>
            <button
              style="float: right"
              (click)="submitEducation()"
              class="btn btn-success"
            >
              Update
            </button>
          </form>
        </div>
        <br />
        <hr />
        <br />
        <div style="display: inline">
          <span style="font-weight: bold">Certification</span>
          <span style="float: right"
            ><a
              style="cursor: pointer"
              class="link-primary"
              (click)="showCertificateBox()"
              >Add new</a
            >
          </span>
        </div>
        <div style="margin-top: 5px;">
          <span *ngIf="!userCertificate">Add certificate</span>
          {{ userCertificate }}<br />
          <span style="font-weight: lighter">
            {{ userCertificateFrom }} {{ userCertificateYear }}
          </span>
          <form *ngIf="showCerti" [formGroup]="certificateForm">
            <input
              type="text"
              placeholder="Certificate of Award"
              formControlName="certificateControl"
              class="form-control"
            />
            <br>
            <input
              type="text"
              placeholder="Certificate From(E. X. Google)"
              formControlName="certificateFromControl"
              class="form-control"
            />
            <br />
            <select class="form-select" formControlName="certificateYearControl">
              <option value="">Year</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
              <option value="2009">2009</option>
              <option value="2008">2008</option>
              <option value="2007">2007</option>
              <option value="2006">2006</option>
              <option value="2005">2005</option>
              <option value="2004">2004</option>
              <option value="2003">2003</option>
              <option value="2002">2002</option>
              <option value="2001">2001</option></select
            ><br />
            <button (click)="cancelCerti()" class="btn btn-light">
              Cancel
            </button>
            <button
              style="float: right"
              (click)="submitCertificate()"
              class="btn btn-success"
            >
              Update
            </button>
          </form>
        </div>
        <!-- <br />
        <hr />
        <br />
        <div class="rating-list">
        <div class="row">
          <div class="col-sm-12">
              <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index" style="display: inline-block" >
                  <li id="{{'starId'+i}}" [ngClass]="{'selected': (star <= selectedValue)}" (click)="countStar(star)" (mouseover)="addClass(star)" (mouseout)="removeClass(star)"><i   class="fa fa-star fa-lg"></i></li> 
              </ul>
          </div>
        </div>
        </div> -->
        </section>
      </div>
    </div>
  </div>
  
</div>
